/* top */
.top__search{
    height: 30px;
    border-radius: 20px;
    background-image: url('images/search.png');
    background-size: 25px; 
    background-repeat: no-repeat;
    background-position: 140px 5px;
    padding-left: 20px;
}

.top__login{
    float: right;
}

.top__button--signup{
    background-color: #04AA6D;
    border: none;
}

.top__button--signup:hover{
    background-color: #49e3ab;
    border: none;
}

.top__button--login{
    background-color: #04AA6D;
    border: none;
}

.top__button--login:hover{
    background-color: #49e3ab;
    border: none;
}

.top__menu-link{
    text-decoration: none;
    color: black;
    padding: 20px;
}

.top__menu-link:hover{
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: #04AA6D;
}

img{
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-item{
    display: inline;
}

.top__menu{
    padding-top: 10px;
}

.top__button{
    padding: 10px;
    border-radius: 20px;
}

.top__menu-linksecond{
    text-decoration: none;
    color: black;
    padding: 20px;
}

.top__menu-linksecond:hover{
    text-decoration: none;
    padding: 20px;
    background-color: rgb(53, 53, 53);
}

.top__nav--secondary {
    display: flex;
    background-color: #282a35;
}

.top__menu-linksecond{
    color: white;
}

/* body */

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #282a35;
}

.body__header{
    width: 70%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body__search{
    padding: 20px;
}

.body__search-input{
    height: 35px;
    width: 500px;
    border-radius: 20px;
    background-image: url('images/search.png');
    background-size: 25px; 
    background-repeat: no-repeat;
    background-position: 480px 5px;
    padding-left: 20px;
    border: none;
}

.body__title{
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.body__description{
    color: yellow;
    font-size: 25px;
    font-weight: bold;
}

.hero__why-link{
    color: white;
    font-size: 25px;
}

.hero__why-link:hover{
    color: yellow;
    font-size: 25px;
}

/* body__mix */

.body__content{
    width: 100%;
    height: 500px;
    display: block;
    background-color: #D9EEE1;
    text-align: center;
}

.body__column-left{
    width: 30%;
    height: 80%;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
}

.body__column-left-learn{
    font-size: 18px;
    background-color: #04AA6D;
    border: none;
    color: white;
    width: 200px;
    margin-top: 20px;
}

.body__column-left-learn:hover{
    font-size: 18px;
    background-color: #1a7755;
    border: none;
    color: white;
    width: 200px;
    margin-top: 20px;
}

.body__column-left-video{
    font-size: 18px;
    background-color: yellow;
    border: none;
    width: 200px;
    margin-top: 20px;
}

.body__column-left-video:hover{
    font-size: 18px;
    background-color: rgb(202, 202, 67);
    border: none;
    width: 200px;
    margin-top: 20px;
}

.body__column-left-reference{
    font-size: 18px;
    background-color: black;
    border: none;
    color: white;
    width: 200px;
    margin-top: 20px;
}

.body__column-left-reference:hover{
    font-size: 18px;
    background-color: rgb(72, 70, 70);
    border: none;
    color: white;
    width: 200px;
    margin-top: 20px;
}

.body__column-left-certified{
    font-size: 18px;
    background-color: #FFC0C7;
    border: none;
    width: 200px;
    margin-top: 20px;
}

.body__column-left-certified:hover{
    font-size: 18px;
    background-color: #de818c;
    border: none;
    width: 200px;
    margin-top: 20px;
}

/* body__column-right */

.body__html{
    color: #d02b83;
}

.body__doctype{
    color: #888888;
}

.body__column-right{
    width: 30%;
    height: 80%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    background-color: rgb(238, 232, 232);
    padding-left: 20px;
    border-radius: 5px;
    
}

.body__column-right-table{
    width: 90%;
    height: 60%;
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
}

/* body-bottom */

.body__content-second{
    width: 100%;
    height: 500px;
    display: block;
    background-color: #edf094;
    text-align: center;
}

.body__column-left-second{
    width: 30%;
    height: 80%;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
}

.body__column-left-second-learn{
    font-size: 18px;
    background-color: #04AA6D;
    border: none;
    color: white;
    width: 200px;
    margin-top: 20px;
}

.body__column-left-second-learn:hover{
    font-size: 18px;
    background-color: #1a7755;
    border: none;
    color: white;
    width: 200px;
    margin-top: 20px;
}

.body__column-left-second-reference{
    font-size: 18px;
    background-color: black;
    border: none;
    color: white;
    width: 200px;
    margin-top: 20px;
}

.body__column-left-second-reference:hover{
    font-size: 18px;
    background-color: rgb(72, 70, 70);
    border: none;
    color: white;
    width: 200px;
    margin-top: 20px;
}

.body__column-left-second-certified{
    font-size: 18px;
    background-color: #FFC0C7;
    border: none;
    width: 200px;
    margin-top: 20px;
}

.body__column-left-second-certified:hover{
    font-size: 18px;
    background-color: #de818c;
    border: none;
    width: 200px;
    margin-top: 20px;
}

/* col--right--second */

.body__column-right-second{
    width: 30%;
    height: 80%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    background-color: rgb(238, 232, 232);
    padding-left: 20px;
    border-radius: 5px;
    
}

.body__column-right-second-table{
    width: 90%;
    height: 60%;
    background-color: white;
    padding-left: 20px;
}

/* bottom */

.bottom{
    background-color: #282a35;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav__bottom-link{
    color: yellow;
    text-decoration: none;
    padding: 50px;
}

.bottom__description{
    text-align: center;
    width: 40%;
    color: white;
}

.bottom__description-text{
    font-size: 12px;
}

.nav__bottom-list{
    display: block;
}